{
  "openapi": "3.0.1",
  "info": {
    "title": "Fabric IQ Ontology Data Agent (Auto FNOL Triage)",
    "description": "NOTE: The real Fabric IQ endpoint is an MCP (Model Context Protocol) streamable-HTTP endpoint, not a plain REST/OpenAPI endpoint - see ../../Auto_FNOL_solution/fabric/test_mcp_dataagent.py for the working MCP client pattern (mcp_url = https://api.fabric.microsoft.com/v1/mcp/workspaces/{workspace_id}/dataagents/{data_agent_id}/agent, auth via AzureCliCredential/DefaultAzureCredential token for https://api.fabric.microsoft.com/.default). This OpenAPI file is kept ONLY as a fallback shape for Foundry's OpenAPI-tool authoring surface if/when it does not yet support wiring an MCP tool directly; the RECOMMENDED integration is to use Foundry's native MCP tool type. See foundry/create_orchestrator_agent.py for both wiring paths.",
    "version": "1.0.0"
  },
  "servers": [
    { "url": "https://api.fabric.microsoft.com/v1/mcp/workspaces/4fb5c773-27f6-4f0d-9eb0-f040abfdd977/dataagents/f4f24b3a-8cb2-4f33-88ad-04ba57d8be8a" }
  ],
  "paths": {
    "/query": {
      "post": {
        "operationId": "queryOntology",
        "summary": "Query the AutoFNOL_Ontology graph (Policyholder, Vehicle, Adjuster, RepairShop, Policy, Claim, FraudSignal, SubrogationFlag) with a natural-language question.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "question": { "type": "string", "description": "Natural-language question, e.g. 'Show coverage limits for Policy POL-00005'." }
                },
                "required": ["question"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Structured answer grounded in the ontology graph.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "answer": { "type": "string" },
                    "records": { "type": "array", "items": { "type": "object" } }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
